# rules
--enable blankLineAfterImports
--enable blankLinesBetweenImports
--enable blockComments
--enable isEmpty
--enable organizeDeclarations
--enable andOperator
--enable anyObjectProtocol
--enable assertionFailures
--enable blankLinesAroundMark
--enable blankLinesAtStartOfScope
--enable sortSwitchCases
--enable sortTypealiases
--enable wrapConditionalBodies
--disable wrapMultilineStatementBraces
--disable preferForLoop
--disable redundantInternal
--disable emptyExtensions
--disable environmentEntry
--disable noForceTryInTests
--disable noForceUnwrapInTests
--disable redundantMemberwiseInit

# format options
--commas inline
--extensionacl on-declarations
--marktypes never
--markextensions if-not-empty
--organizetypes "enum, struct, class, typealias, extension"
--lifecycle "setup, teardown, initialize, deinitialize, onAppear, onDisappear"
--allman false
--guardelse auto
--self init-only
--header ""
--organizationmode type
--decimalgrouping 3,3

# file options
--exclude .build
--exclude output
--exclude **/*.generated.swift
--exclude **/*.grpc.swift
--exclude **/*.pb.swift
--exclude **/Vendor/**
